
body {
    font-family: sans-serif;
    background-color: rgb(191	202	230);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
    border-radius: 2px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}
.userText {
    color: rgb(255 240 240);
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #6666FF;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: rgb(255 240 240);
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
    border-radius: 2px;
    padding-bottom: 5px;
}

.botText span {
    background-color: #9966CC;
    padding: 10px;
    border-radius: 2px;
    padding-bottom: 5px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}
.logo{
    text-align: center;
    background: #f6a2b1;
}
.logo img{
    width: 30%;
}